body {
  background: var(--background);
  color: var(--text-color);
  -webkit-transition: background 500ms ease-in-out, color 200ms ease;
  transition: background 500ms ease-in-out, color 200ms ease;
}
